.main-chat
  .main-chat__group-info
    = render @messages
    .main-chat__group-info__left-side
      .main-chat__group-info__left-side--group-name
        = @group.name
      .main-chat__group-info__left-side--member-name
        member:
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__right-side
      .main-chat__group-info__right-side--edit
        = link_to 'Edit', edit_group_path(@group)

  .main-chat__message-list
    .main-chat__message-list__contents
      .main-chat__message-list__contents--user-name
        hoge
      .main-chat__message-list__contents--datetime
        2020/08/15(Sat)10:00:00
    .main-chat__message-list__text
      おはよう！

    .main-chat__message-list__contents
      .main-chat__message-list__contents--user-name
        hoge
      .main-chat__message-list__contents--datetime
        2020/08/15(Sat)10:30:00
    .main-chat__message-list__text
      今日も暑い


  .main-chat__message-form
    .form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'input-box__icon')
            = f.file_field :image, class: 'input-box__icon__file'
        = f.submit 'Send', class: 'send'

    -# .main-chat__message-form
    -# = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
    -#   .form
    -#     .input-box
    -#       = f.text_field :content, class: '.input-box__text', placeholder: 'type a message'
    -#       = f.label :image, class: 'input-box__text' do
    -#         = icon('far', 'image')
    -#         = f.file_field :image, class: 'input-box__icon__file'
    -#     = f.submit 'Send', class: 'send'