.side-bar

  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
        hoge    
      = link_to "#", class: "top-items__icons" do
        = icon('far', 'edit', class: "top-items__icons--edit")
        %span<>
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: "top-items__icons--cog")
        %span<>

  .side-bar__group-list
    .side-bar__group-list--group-name
      techcamp
    .side-bar__group-list--new-message
      まだメッセージがありません
    .side-bar__group-list--group-name
      techcamp
    .side-bar__group-list--new-message
      まだメッセージがありません