.side-bar

  .side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path do
          = icon('far', 'edit', class: "top-items__icons__edit")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "top-items__icons__edit")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group
        = link_to group_messages_path(group) do
          .side-bar__group-list--group-name
            = group.name
          .side-bar__group-list--new-message
            = group.show_last_message